node_modules
api/node_modules
web/node_modules

dist
build
web/dist
web/build
api/dist
api/build

.env
.env.local
.env.*.local
api/.env
web/.env

api/prisma/dev.db
api/uploads

.vercel
.next
.cache
.parcel-cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
api/api_test_out.log
api/api_test_err.log

.DS_Store
Thumbs.db
.idea
.vscode
